/* Global */
:root {
  /* color */
  --color-white: #fefcfd;
  --color-rich-black: #000505;
  --color-english-violet: #3b3355;
  --color-purple-navy: #5d5d81;
  --color-periwinkle-crayola: #bfcde0;

  /* font-size */
  --font-large: 42px;
  --font-semi-large: 36px;
  --font-medium: 30px;
  --font-semi-medium: 24px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
}

/* Universal tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: 50% 50% url("./imgs//backgrounds/macbook.png") no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wrapper */
#wrapper {
  display: flex;
  width: 58em;
  height: 38em;
  margin-bottom: 1em;
  padding: 1em 2em;
}

/* Navbar */
#navbar {
  color: var(--color-white);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 0.5em;
  border-right: 3px solid var(--color-purple-navy);
}

.navbar__logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar__logo img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.navbar__logo span {
  font-size: var(--font-semi-medium);
  color: var(--color-periwinkle-crayola);
  font-weight: var(--weight-bold);
  text-align: center;
}

.navbar__profile-picture {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5em;
}

.navbar__profile-picture img {
  width: 10em;
  height: 12em;
  border-radius: 60%;
  border: 1px solid var(--color-white);
}

.navbar__menu {
  flex: 3;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar__menu li {
  color: var(--color-periwinkle-crayola);
  font-size: var(--font-semi-medium);
  margin-block: 0.5em;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar__menu i {
  margin-right: 1.3em;
}

/* Home */
#home {
  color: var(--color-white);
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__greeting {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-periwinkle-crayola);
}

.home__handshake {
  color: var(--color-periwinkle-crayola);
  animation-name: handshake;
  transform-origin: 50% 50%;
  animation: handshake ease-in-out 1s infinite alternate;
}

@keyframes handshake {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
