/* Global */
:root {
  /* color */
  --color-lessWhite: #d5e3ff;
  --color-white: #fff;
  --color-black: #111519;
  --color-ftColor: #94b5cc;
  --color-lessFtColor: #94b5ccb3;
  --color-primary: #bac4d1;
  --color-secondary: #d1d8e1;
  --color-lessSecondary: #d1d8e1cc;
  --color-moreTeriary: #747578;
  --color-tertiary: #5a5b5d;
  --color-lessTertiary: #5a5b5d66;
  --color-quaternary: #483930;
  --color-moreQuinary: #c98652;
  --color-quinary: #946c4c;

  /* font-size */
  --font-xxlarge: 54px;
  --font-xlarge: 48px;
  --font-large: 42px;
  --font-semi-large: 36px;
  --font-medium: 30px;
  --font-semi-medium: 24px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
}

/* Universal tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: var(--weight-regular);
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background-color: var(--color-ftColor);
  color: var(--color-moreTeriary);
}

html {
  font-size: var(--font-regular);
  background-color: var(--color-secondary);
}

body {
  height: 100vh;
  background: 50% 50% url("./imgs//backgrounds/macbook.png") no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */
.container {
  width: 58rem;
  height: 39rem;
  margin-bottom: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 1rem;
}
.container::-webkit-scrollbar-track {
  background-color: var(--color-tertiary);
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--color-quinary);
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

/* Button */
.btn {
  width: 10rem;
  line-height: 2.5rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--color-secondary);
  background-color: var(--color-tertiary);
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-bold);
  color: var(--color-ftColor);
}

/* Header */
header {
  position: fixed;
  width: 18rem;
  height: inherit;
  padding: 1rem 0.5rem 1rem 1rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-tertiary);
  border-right: 0.5rem solid var(--color-quinary);
}

header .user {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
}

header .user img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 0 0 2rem var(--color-secondary);
}

header .user .name {
  font-size: var(--font-semi-large);
  font-weight: var(--weight-bold);
  color: var(--color-ftColor);
  padding: 0.5rem;
}

header .user .post {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-ftColor);
  opacity: 0.7;
}

header .navbar {
  width: 100%;
  height: 16rem;
  display: flex;
}

header .navbar ul {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

header .navbar ul li a {
  display: block;
  text-align: center;
  width: 10rem;
  border: 0.2rem solid var(--color-primary);
  border-radius: 0.8rem;
  line-height: 2.5rem;
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-bold);
  color: var(--color-ftColor);
}

header .navbar ul li a:hover {
  background-color: var(--color-ftColor);
  color: var(--color-tertiary);
}

section {
  min-height: 39rem;
  padding-left: 18rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

article {
  display: flex;
}

/* Home */
.home {
  width: 58rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  line-height: 5rem;
  background-color: var(--color-lessTertiary);
}

.home h3 {
  width: 32rem;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-ftColor);
}

.home h1 {
  width: 32rem;
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-ftColor);
}

.home h1 span {
  font-size: var(--font-semi-large);
  font-weight: var(--weight-bold);
  color: var(--color-quinary);
}

/* About */
.about {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: var(--color-moreTeriary);
}

.about .title {
  padding: 1rem;
}

.about h1 {
  padding: 0.5rem;
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.about p {
  padding: 0.5rem;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-lessFtColor);
  line-height: 1.8;
}

.info {
  padding: 1rem;
}

.info ul li {
  padding: 0.5rem;
  list-style: none;
}

.info ul li span {
  display: inline-block;
}

.info ul li span:nth-child(1) {
  width: 130px;
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

.info ul li span:nth-child(2) {
  width: calc(100% - 130px);
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-lessFtColor);
}

.share {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share i {
  margin-inline: 1rem;
  width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.3rem;
  border: 0.2rem solid var(--color-secondary);
  background-color: var(--color-tertiary);
  font-size: var(--font-medium);
  color: var(--color-ftColor);
  cursor: pointer;
}

.share i:hover {
  background-color: var(--color-ftColor);
  color: var(--color-tertiary);
}

/* Skills */
.skills {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.skills .title {
  padding: 1.5rem;
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  color: var(--color-ftColor);
}

.skills .skillset {
  padding: 0.5rem 1rem;
}

.skills .skillset ul {
  list-style: none;
}

.skills .skillset ul li {
  padding: 0.5rem;
  font-size: var(--font-small);
  color: var(--color-ftColor);
}

.skills .skillset ul li h3 {
  margin-bottom: 0.5rem;
}

.skills .skillset ul li .stack-icon {
  display: flex;
}

.skills .skillset ul li .stack-icon span {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.skills .skillset ul li .stack-icon span img {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.skills-lists {
  display: flex;
}

.skills-list {
  display: flex;
  width: 100%;
  flex-flow: column;
  padding: 1rem 0.5rem 1rem 1rem;
}

.skills-data {
  width: 100%;
  padding: 0.5rem;
}

.skills-title {
  display: flex;
  justify-content: space-between;
}

.skills-name {
  color: var(--color-ftColor);
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}

.skills-number {
  color: var(--color-ftColor);
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
}

.skills-bar,
.skills-percentage {
  height: 0.5rem;
  border-radius: 0.5rem;
}

.skills-bar {
  background-color: var(--color-moreTeriary);
}

.skills-percentage {
  display: block;
  background-color: var(--color-moreQuinary);
}

/* 왼쪽 progressBar */
.skills-react {
  width: 80%;
}

.skills-typescript {
  width: 55%;
}

.skills-css {
  width: 85%;
}

.skills-reactNative {
  width: 70%;
}

/* 오른쪽 progressBar */
.skills-javascript {
  width: 87%;
}

.skills-html {
  width: 86%;
}

.skills-redux {
  width: 70%;
}

.skills-mysql {
  width: 89%;
}

/* Myworks */
.projects {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: var(--color-moreTeriary);
}

.projects .projects__title {
  padding: 1.5rem;
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.projects .projects__main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1rem;
}

.projects .projects__categories {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  background-color: var(--color-lessFtColor);
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.projects .projects__categories .category__btn {
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.projects .projects__categories div:first-child {
  border-top-left-radius: 0.7rem;
}

.projects .projects__categories div:last-child {
  border-top-right-radius: 0.7rem;
}

.projects .projects__categories .category__btn:hover {
  background-color: var(--color-lessWhite);
}

.projects .projects__categories .active {
  background-color: var(--color-white);
}
.projects .projects__categories .active:hover {
  background-color: var(--color-white);
}

.projects .projects_list {
  width: 100%;
  height: 25rem;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.projects .projects_list .project {
  background-size: cover;
  transition: 0.5s;
  display: flex;
  align-items: flex-end;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.2rem var(--color-lessFtColor);
}

.project-one {
  background: url("https://image.shutterstock.com/image-photo/cloud-computing-concept-connect-businessman-260nw-586520003.jpg")
    center no-repeat;
}

.project-two {
  background: url("https://image.shutterstock.com/image-photo/developer-working-on-code-late-260nw-741248929.jpg")
    center no-repeat;
}

.project-three {
  background: url("https://image.shutterstock.com/image-photo/sql-wooden-cubes-letters-on-260nw-2114370734.jpg")
    center no-repeat;
}

.projects .projects_list .project:hover {
  z-index: 100;
  transform: scale(1.2);
}

.projects .projects_list .project .project__description {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-tertiary);
}

.projects .projects_list .project .project__description h3,
.projects .projects_list .project .project__description span {
  color: var(--color-ftColor);
  font-weight: var(--weight-bold);
}

/* TODO 웹브라우저 사이즈별 반응형으로 ! */
